@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


$font-family-sans-serif: "Poppins", -apple-system, system-ui, sans-serif;

$grid-gutter-width: 20px;
$body-color: #34495e;
$font-size-base: 0.825rem;
$body-bg: #f7f9fc;
$primary: #e74c3c;
$btn-box-shadow: none;
$input-btn-focus-box-shadow: none;
$table-border-color: rgba(#e8ebf0, 1);
$paragraph-margin-bottom: 0;

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./pages/signin.scss";
@import "./pages/dashboard.scss";
@import "./components/loading.scss";
@import "./components/popup.scss";
@import "./components/bottom_popup.scss";

.navbar {
    background-color: $white;
    padding: .875rem 1.25rem;
    box-shadow: 0 0 .325rem 0 rgba($color: #253749, $alpha: 0.1);

    a {
        color: $body-color;
    }
}

.nav-search {
    .form-control {
        border: none;
        background-color: rgba($body-color, 0.05);
    }

    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: rgba($body-color, 0.05);
    }
}

.nav-actions {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;

    .btn-nav {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        border: none;
        line-height: 2rem;
        padding: 0;

        &:hover {
            color: $danger;
            background-color: #e8ebf0;
        }
    }
}

.card {
    border: none;
    box-shadow: 0 0 .625rem 0 rgba($color: #26384b, $alpha: 0.05);

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        font-weight: 600;
        margin-bottom: 0;
    }

    &-header, &-body, &-footer {
        padding: 0.75rem;
    }

    &-header, &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $white;
        border: none;
    }

    &-footer {
        .btn {
            min-width: 4rem;
        }
    }

    &-title {
        display: flex;
        flex-grow: 1;
    }

    table {
        margin-bottom: 0;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;

        .fill {
            display: flex;
            flex-grow: 1;
        }
    }
}

.table {
    thead th {
        color: rgba($body-color, 0.7);
        background-color: #ecf0f3;
        padding: 0.375rem 1.25rem;
        border-bottom: 1px;
        border-top: 1px;
        font-weight: 500;
    }

    tbody td {
        color: rgba($body-color, 0.7);
        padding: 0.75rem 1.25rem;

        &.important {
            color: $body-color;
        }

        &.table-actions {
            a {
                color: rgba($body-color, 0.7);
                text-decoration: none;

                &:hover {
                    color: $danger;
                }

                &:not(:first-child) {
                    margin-left: 0.6rem;
                }

            }
        }
        
    }

    tbody tr:first-child {
        td {
            border-top: none;
        }
    }

    th.sortable {
        position: relative;

        &::before, &::after {
            position: absolute;
        }

        &::before {
            right: 1rem;
            content: "↑";
        }

        &.sort-asc::before {
            opacity: 0.3;
        }

        &::after {
            right: 0.5rem;
            content: "↓";
        }

        &.sort-desc::after {
            opacity: 0.3;
        }

        &.sort-asc, &.sort-desc {
            color: $body-color;
            font-weight: 600;
        }
    }
}

.message-block {
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 4rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(5rem);
    transition: opacity 0.2s, transform 0.2s;
    transition-timing-function: ease-in-out;

    &-content {
        min-width: 24rem;
        max-width: 32rem;

        .card {
            color: white;
            background-color: $danger;

            .card-body {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                    flex-grow: 1;
                }

                .action {
                    width: 2rem;
                    height: 2rem;
                    color: $white;
                    line-height: 2rem;
                    text-align: center;
                }
            }
        }
    }

    &-success &-content .card {
        background-color: $success;
    }

    &-warning &-content .card {
        color: $body-color;
        background-color: $warning;
    }


    &--show {
        opacity: 1;
        transform: translateY(0);
    }
}

  